<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.CategroyDao">
<!--    根据级别查全部类型List<Categroy> selectByLevels(int levels);-->
    <select id="selectByLevels" resultType="Categroy" parameterType="int">
        select id,cate_name,levels,parent_id from yx_category where levels=#{levels}
    </select>
<!--    按照上级类别id查全部下级类别List<Categroy> selectByTwo(String id,int levels);-->
    <select id="selectByTwo" resultType="Categroy" parameterType="String">
        select id,cate_name,levels,parent_id from yx_category where parent_id=#{id}
    </select>
<!--    删除类别void delete(String id);-->
    <delete id="delete" parameterType="String">
        delete from yx_category where id=#{id}
    </delete>
<!--    添加类别void insert(Categroy categroy);-->
    <insert id="insert" parameterType="Categroy">
        insert into yx_category values (#{id},#{cate_name},#{levels},#{parent_id})
    </insert>
<!--    修改类别void update(Categroy categroy);-->
    <update id="update" parameterType="Categroy">
        update yx_category set cate_name=#{cate_name},parent_id=#{parent_id} where id=#{id}
    </update>
<!--    根据名字查一个Categroy selectByName(String name);-->
    <select id="selectByName" parameterType="String" resultType="Categroy">
        select id,cate_name,levels,parent_id from yx_category where cate_name=#{cate_name}
    </select>
</mapper>